---
export interface Props {
  type: 1 | 2 | 3,
  side: "left" | "right",
}

const { type, side } = Astro.props;

const classes = ["absolute", "-z-10"];
if (side === "left") {
  classes.push("-ml-14");
} else {
  classes.push("-ml-12");
}

if (type === 2) {
  classes.push("w-36");
} else {
  classes.push("w-24");
}

let rotation = -15 + Math.random() * 30;
if (side == "right") {
  rotation += 180;
}

let offset = -30 + Math.random() * 60;
---
<div class="h-full flex items-center">
  <img class={classes.join(' ')} style={`transform: rotate(${rotation}deg)`} src={`/assets/wood/wood${type}.png`}>
</div>
