---
export interface Props {
  type: 1 | 2 | 3,
  side: "left" | "right",
}

const { type, side } = Astro.props;

const classes = [
  "absolute", "-z-10", 
  "drop-shadow-md",
  side === "left" ? "-ml-14" : "-ml-12",
  type === 2 ? "w-36" : "w-24"
];


let rotation = -15 + Math.random() * 30;
if (side == "right") {
  rotation += 180;
}

let offset = -30 + Math.random() * 60;
---
<div class="h-full flex items-center">
  <img class={classes.join(' ')} style={`transform: rotate(${rotation}deg)`} src={`/assets/wood/wood${type}.png`}>
</div>
